<style>
* {
  background-color:black;
  color: pink;
  font-family: sans-serif;
}
</style>


<h1>Users</h1>

<ul>
  <%@users.each do |key, value|%>
  <li>
    <a href="/<%=key%>"><%=key.capitalize%></a>
  </li>
  <%end%>
</ul>

<%# <%=@users%>